<<html>
<head>
  <title>Some Webpage!!!!!!!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="javascript/application.js"></script>
  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
  <%= yield %>
</body>
</html>
